#dc-root {
    position: absolute;
    top: 0;
    left: 0;
}

#dc-keybindings {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    position: fixed;
    bottom: 5px;
    right: 12px;
    font-size: 26px;
    color: #777;
    z-index: 9999999;
    cursor: pointer;
    width: 160px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dc-keybindings ul {
    padding: 0;
    list-style: none;
}

#dc-keybindings li {
    margin: 0;
    padding: 4px;
    line-height: 26px;
}

.dc-key-action {
    display: flex;
    justify-content: space-between;
}

.dc-key {
    margin-left: 20px;
}
