#dc-root {
    position: absolute;
    top: 0;
    left: 0;
}

#dc-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #0000;
    z-index: 9999999;
    cursor: pointer;
}

#dc-keybindings {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    position: fixed;
    bottom: 5px;
    right: 12px;
    font-size: 26px;
    color: #f5f5f5;
    z-index: 999999999;
    cursor: pointer;
    width: 160px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0006;
    border-radius: 8px;
}

#dc-keybindings ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#dc-keybindings li {
    margin: 0;
    padding: 4px;
    line-height: 26px;
}

#dc-keybindings li::before {
    content: none;
}

.dc-key-action {
    display: flex;
    justify-content: space-between;
}

.dc-key {
    margin-left: 20px;
}
