body {
    min-width: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.capture {
    display: flex;
    align-items: center;
}

.keybinding {
    color: #666;
    font-size: 14px;
    vertical-align: middle;
    line-height: 14px;
    padding: 0 10px;
}

.open-showcase {
    margin-top: 12px;
    text-align: center;
}

.open-showcase a {
    text-decoration: none;
}