body {
    min-width: 250px;
    min-height: 280px;
    color: #666;
    font-size: 14px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.divider {
    height: 1px;
    width: 100%;
    background: #bbb;
}

.title {
    text-align: center;
    font-weight: bolder;
}

.row {
    height: 30px;
}

.actions {
}

.actions .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.keybinding {
    vertical-align: middle;
    line-height: 14px;
}

.options {
    padding-top: 10px;
}

.options .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.options .row .description {
    display: flex;
    align-items: center;
}

.options .row .description img {
    width: 17px;
    height: 17px;
    display: block;
    margin-right: 8px;
}


.options .row .input {
    display: inline-block;
    padding-left: 22px;
    flex: 1;
}

.open-showcase {
    text-align: center;
    margin-top: 10px;
}

.open-showcase a {
    color: #666;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 6px;
    border-radius: 4px;
    border: solid 1px #888;
}