body {
    min-width: 200px;
}

.container {
    display: flex;
    justify-content: center;
    padding: 5px;
}


.keybinding {
    color: #666;
    font-size: 14px;
    vertical-align: middle;
    line-height: 14px;
    padding: 0 10px;
}